<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
      <div class="shadow p-3 m-5 bg-white rounded text-center ">
        <%= link_to @lesson.matiere do %>
        <button type="button" class="close mt-1 " aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% end %>
        <%= simple_form_for @lesson do |f| %>
          <%= f.input :title, label:"Titre" %>

            <%= f.input :content, label:"Contenu", as: :summernote %>
          <%= f.association :matiere, as: :select, prompt: "Choisis une matière" %>
          <%= f.button :submit, "Appliquer" %>
        <% end %>
      </div>
  </div>

<% end %>
