<!DOCTYPE html>
<html>
  <head>
    <title>Help-Absent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg ">
    <%= link_to root_path, class:"navbar-brand" do %>
    <%= image_tag "sos.png" %>
    <% end %>


  <div class="collapse navbar-collapse " id="navbarSupportedmatiere">
    <ul class="navbar-nav ">
      <li class="btn btn-primary">
        <%= link_to matieres_path do %> <h2>Matières<h2> <% end %>
      </li>
      <li class="btn btn-primary ">
          <%= link_to lessons_path do %> <h2>Leçons<h2> <% end %>
      </li>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
